services:
  qdrant-service:
    image: qdrant/qdrant:latest
    ports:
      - 6333:6333
      - 6334:6334
    volumes:
      - "./vol/qvol/:/qdrant/storage"

  postgres-service:
    image: postgres:13
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: mydatabase
    ports:
      - 5432:5432
    volumes:
      - "./vol/pgdata/:/var/lib/postgresql/data"